body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color:#333;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.main-nav ul li a:hover,
.main-nav ul li a:focus {
  background-color: #ddd;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover,
form button:focus {
  background: #555;
}

.site-footer {
  padding: 2rem 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}